* {
  font-family: 'VT323', monospace;
  margin: 0 auto;
  padding: 0;
  max-width: 800px;
  text-align: center;
  background-color: #000000;
}

.container {
  display: block;
  border-style: solid;
  border-color: #FFFFFF;
  width: 800px;
  height: 600px;
}

.header {
  color: #FFFFFF;
  display: flex;
}

.credits {
  position: relative;
  display: inline-flex;
  color: #FFFFFF;
  padding: 5px 10px;
  top: 120px;
}

.instructions {
  position: relative;
  display: inline-flex;
  color: #FFFFFF;
  padding: 5px 10px;
  top: 120px;
}

.btn {
  position: relative;
  background: #000000;
  color: #FFFFFF;
  padding: 20px 40px;
  border-color: #FFFFFF;
  margin-right: 10px;
}
.btn:hover, .continue-btn:hover, #buyGrain:hover, #sellGrain:hover, #buyLand:hover, #sellLand:hover, #minimumReleaseGrain:hover, #maximumReleaseGrain:hover, #grainRelease:hover, #setCustomsDuty:hover, #setSalesTax:hover, #setIncomeTax:hover, #setJustice:hover, #marketPlace:hover, #woodenMill:hover, #palace:hover, #cathedral:hover, .exit:hover {
  cursor: pointer;
  background-color: #484848;
}

#start {
  transform: translateY(550%);
}

#grainMarket, #landOffice, #customsDuty, #salesTax, #incomeTax, #justice, #marketPlace, #woodenMill, #palace, #cathedral {
  transform: translateY(450%);
}

.continue-btn {
  position: absolute;
  background: #000000;
  color: #FFFFFF;
  padding: 10px 40px;
  border-color: #FFFFFF;
}

#i-cont {
  transform: translateY(400%);
}
#mmcont {
  transform: translateX(-195%) translateY(900%);
}
#cpcont {
  transform: translate(-50%) translateY(700%);
}
#grcont {
  transform: translateX(-50%) translateY(700%);
}
#stcont {
  transform: translateX(-325%) translateY(900%);
}
#cbcont {
  transform: translateX(-355%) translateY(900%);
}

.report {
  position: relative;
  display: block;
  transform: translateY(250%);
}

.cb-report {
  position: relative;
  display: block;
  transform: translateY(450%);
}

.justice {
  position: relative;
  display: block;
  transform: translateY(125%);
}

.stats {
  display: flex;
  transform: translateY(300%);
}
.tableHeader, .tableData {
  display: flex;
  gap: 40px;
}

#startHeader, #instructionsHeader, #grainAndLandHeader, #grainMarketHeader, #landOfficeHeader, #grainReleaseHeader, #cityPopulationHeader, #stateRevenueHeader, #customsDutyHeader, #salesTaxHeader, #incomeTaxHeader, #justiceHeader, #marketPlaceHeader, #woodenMillHeader, #palaceHeader, #cathedralHeader {
  position: relative;
  display: block;
  transform: translateY(300%);
}

.gm-options, .lo-options, .gr-options {
  position: relative;
  transform: translateX(0%) translateY(700%);
}

#buyGrainInput, #sellGrainInput, #buyLandInput, #sellLandInput {
  margin-right: 10px;
}

#grainAmount, #landAmount, #grainReleaseAmount, #customsAmount, #salesAmount, #incomeAmount, #justiceAmount, #marketAmount, #millAmount, #palaceAmount, #cathedralAmount {
  position: relative;
  transform: translateY(500%);
  height: 25px;
  font-size: 15px;
}

#buyGrain, #sellGrain, #buyLand, #sellLand, #grainRelease, #setCustomsDuty, #setSalesTax, #setIncomeTax, #setJustice, #setMarket, #setMill, #setPalace, #setCathedral {
  position: relative;
  background: #000000;
  color: #FFFFFF;
  padding: 5px 10px;
  border-color: #FFFFFF;
  transform: translateY(650%);
}

.exit {
  position: relative;
  background: #000000;
  color: #FFFFFF;
  padding: 5px 10px;
  border-color: #FFFFFF;
  transform: translateY(750%);
}

img {
  width: 175px;
  height: 175px;
}

#minimumReleaseGrain, #maximumReleaseGrain {
  position: relative;
  background: #000000;
  color: #FFFFFF;
  padding: 5px 10px;
  border-color: #FFFFFF;
  transform: translateY(600%);
}

#left {
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
}

#right {
  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
}